.textWhite{
    color: white;
    text-decoration: none;
}
.paginationContainer{
    display: flex;
    justify-content: center;
}
.paginationBtn{
    cursor: pointer;
    padding-top: 15px;
    text-align: center;
    width: 50px;
    height: 35px;
    background-color: dimgray;
    color: white;
    border-radius: 20px;
    border: 0;
    margin-left:15px;
}
.paginationBtn:hover{
    background-color: slategrey;
}

.pageLink{
    list-style-type:none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    background-color: dimgray;
    color: white;
}
.pageLink:focus{
    list-style-type:none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    background-color: slategrey;
    color: white;
}